main {
    /* width: 80%; */
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

/* .centered {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

} */

.linkName {
    width: 40rem;
}

.urlLink {
    /* width: 41.7rem; */
    width: 40rem;
}